<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Predictive Monitoring</h4>
                    </div>
                    <div class="content">
                        <p>
                            Hello there Process Mining Enthusiast!
                        </p>
                        <p>
                            You are now in the <b>PredProM</b> (Predictive Process Mining) Project. This is an instructional material for those who would like to begin their journey in the predictive process monitoring realm in Process Mining. This explains how to encode the historical business process log in preparation for further usages such as predictive process monitoring. Usually, the logs are formatted as XES or MXML (BPM Standards for logs) files which are just XML files. For one to perform machine learning algorithms such as classification and regression, one must preprocess these logs into data frames (or in CSV format) so we can feed it directly to the learning techniques.
                        </p>
                        <p>
                            The encoders implemented in this project is based on the theory presented in a paper published during the Business Process Management (BPM) 2015 Conference by Anna Leontjeva et al. The paper can be seen at this <a href="https://kodu.ut.ee/~dumas/pubs/bpm2015predictivemonitoring.pdf">link</a>. <!-- This also includes the intercase encoding which was used in the paper during the BPM 2017 Conference. The paper can be found <a href="https://www.researchgate.net/publication/319013385_Intra_and_Inter-case_Features_in_Predictive_Process_Monitoring_A_Tale_of_Two_Dimensions">here</a>. -->
                        </p>
                        <p>
                            This is a hobby project by me (Kerwin). This uses Angular 2 for the front-end application. The implementation of the encoders can be found at the <a href="https://github.com/nirdizati/nirdizati-encoders">Nirdizati-Encoders</a>.
                        </p>
                        <p>
                            If you have questions related to the project, please drop me an email.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/me.jpg" alt="..."/>

                                <h4 class="title">Kerwin Jorbina<br />
                                    <a href="mailto:kerwin.jorbina@gmail.com?Subject=PredProm"><small>kerwin.jorbina[at]gmail.com</small></a>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> Process Mining Enthusiast <br>
                            Software Developer <br>
                            University of Tartu - MS Software Engineering <br>
                            University of San Carlos - BS Computer Engineering
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/in/kerwinjorbina" class="btn btn-simple"><i class="fa fa-linkedin"></i></a>
                        <a href="https://scholar.google.ca/citations?user=voWDvVsAAAAJ&hl=en" class="btn btn-simple"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/kerwinjorbina" class="btn btn-simple"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Future Project Milestones</h4>
                    </div>
                    <div class="content">
                        <ul>
                          <li>Dashboard to visualize the log</li>
                          <li>Option to upload logs</li>
                          <li>Multiple combinations in encoding for data payload</li>
                          <li>Other type of label to be predicted</li>
                          <li>Future encoding methods for the log</li>
                        </ul>
                    </div>
                    <p class="description text-center">
                        **Collaborators for this project are welcome. Please let me know if you are interested.**
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Previous Related Works</h4>
                    </div>
                    <div class="content">
                        <ul>
                          <li><a href="http://training.nirdizati.com/">Nirdizati-Training</a> of the <a href="http://nirdizati.org/">Nirdizati Project</a></li>
                          <li><a href="https://github.com/nirdizati/nirdizati-encoders">Nirdizati-Encoders</a> of the <a href="https://github.com/nirdizati">Nirdizati Github Repository</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
